# python
*.py[cod]

# packages
*.egg-info
*.egg*
dist
build

# setup
AUTHORS
ChangeLog

# windows
Thumbs.db
Thumbs.db:encryptable

# drawio
*.drawio.bkp
*.drawio.dtmp

# Symbolic Link
storage-存储/bcache
RTFSC/bcache
